@charset "utf-8";
//  use toppage
//=================================================================== */
.main-slider {
    min-width: 980px;
    border-top: 10px solid #ff9c01;
    border-bottom: 10px solid #ff9c01;
}
.b_slider {
    margin-bottom: 30px;
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    overflow: visible !important;
    .slick-list {
        overflow: visible;
    }
    .slider-item {
        width: 980px !important;
        border-left: 10px solid #ff9c01;
        border-right: 10px solid #ff9c01;
    }
    .btn_txt {
        position: absolute;
        top: 0;
        left: calc((100% - 980px) / 2);
        z-index: 2;
        background-color: #ff9c01;
        height: 100%;
        padding: 25px 45px;

        figure {}
    }

    .slider {
        margin-bottom: 0 !important;

        .slick-track {
            display: flex;
        }

        li {
            text-align: center;
            line-height: 0;
            position: relative;

            figure {
                line-height: 0;
            }

            &.slick-current {
                &:before {
                    content: "";
                    width: 10px;
                    height: 100%;
                    background-color: #ff9c01;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                }

                &:after {
                    content: "";
                    width: 10px;
                    height: 100%;
                    background-color: #ff9c01;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                }
            }
        }

        .slick-dots {
            z-index: 9;
            bottom: -45px;

            li {
                width: 10px !important;
                ;
                height: 10px !important;
                ;
                background-color: #553600;
                border-radius: 50%;

                &.slick-active {
                    background-color: #ff9c01;
                }

                button {
                    &:before {
                        content: none;
                    }
                }
            }
        }
    }
}

.st_information {
    padding: 72px 0 69px;

    .row {
        display: flex;
        align-items: center;
        padding: 0 125px;
    }

    .ttl_information {
        width: 120px;
        height: 120px;
        background-color: #553600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-size: rem(19);
        line-height: 1;
        letter-spacing: 1px;
        border-radius: 50%;

        span {
            display: block;
            font-size: rem(13);
            line-height: 1;
            margin-top: 8px;
            letter-spacing: 0;
        }
    }

    .list_information {
        width: calc(100% - 120px);
        padding-left: 30px;

        li {
            border-bottom: 1px dotted #000;

            a {
                padding: 8px 0 9px;
                display: flex;
                padding-left: 10px;
                pointer-events: none;

                &:hover {
                    time {
                        color: #ff9c01;
                    }

                    em {
                        color: #ff9c01;
                    }
                }

                time {
                    display: block;
                    font-size: rem(13);
                    line-height: 1.5;
                    color: #666666;
                    font-weight: bold;
                    width: 80px;
                }

                em {
                    display: block;
                    font-size: rem(13);
                    font-weight: 600;
                    line-height: 1.5;
                    font-style: normal;
                    width: calc(100% - 80px);
                    padding-left: 30px;
                }
            }
        }
    }
}

.st_greeting {
    background-color: #ff9c01;
    padding: 86px 0 85px;

    .row {
        position: relative;

        &:before {
            content: "";
            background: url(../images/icon_gr_01.png) no-repeat;
            width: 72px;
            height: 172px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 27px;
            margin-top: 20px;
        }

        &:after {
            content: "";
            background: url(../images/icon_gr_02.png) no-repeat;
            width: 81px;
            height: 120px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 27px;
            margin-top: 30px;
        }
    }

    .b_greeting {
        max-width: 663px;
        margin: 0 auto;

        .ttl_greeting {
            text-align: center;
            margin-bottom: 23px;

            img {
                width: 221px;
                height: auto;
            }
        }

        p {
            color: #fff;
            font-size: rem(18);
            line-height: 34px;
            font-weight: bold;
        }
    }
}

.st_point {
    padding: 85px 0 0;

    .ttl_point {
        text-align: center;
        margin-bottom: 80px;

        span {
            position: relative;
            font-size: rem(50);
            line-height: 1;
            color: #ff9c01;
            font-weight: bold;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #ffff00));
            background: -webkit-linear-gradient(transparent 65%, #ffff00 20%);
            background: -o-linear-gradient(transparent 65%, #ffff00 20%);
            background: linear-gradient(transparent 65%, #ffff00 20%);
            margin-left: 93px;

            &:before {
                content: "";
                background: url(../images/i_ttl_point.png) no-repeat;
                background-size: contain;
                width: 70px;
                height: 56px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -83px;
            }
        }
    }

    .gr_point {
        display: flex;
        flex-flow: row wrap;
        margin-left: -40px;

        article {
            width: calc(33.33% - 40px);
            margin: 0 0 0 40px;

            h3 {
                font-size: rem(18);
                line-height: 23px;
                color: #fff;
                font-weight: bold;
                background-color: #ff9c01;
                text-align: center;
                padding: 9px 0;
                position: relative;
                margin-bottom: 20px;

                span {
                    position: absolute;
                    top: -38px;
                    left: 0;

                    img {
                        width: 67px;
                        height: auto;
                    }
                }
            }

            figure {
                margin-bottom: 20px;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            p {
                font-size: rem(14);
                line-height: 23px;
                font-weight: 500;
                color: #333;
            }
            &:nth-child(2) {
                h3 {
                    padding-left: 30px;
                }
            }
        }
    }
}

.st_treament {
    padding: 80px 0 107px;

    .ttl_treament {
        border-top: 2px dotted #ff9c01;
        text-align: center;
        margin-bottom: 38px;
        padding-top: 58px;

        span {
            font-size: rem(50);
            line-height: 1;
            color: #ff9c01;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(20%, #ffff00));
            background: -webkit-linear-gradient(transparent 90%, #ffff00 20%);
            background: -o-linear-gradient(transparent 90%, #ffff00 20%);
            background: linear-gradient(transparent 90%, #ffff00 20%);
            position: relative;
            font-weight: bold;
            display: inline-block;
            padding-top: 110px;

            &:before {
                content: "";
                background: url(../images/i_ttl_treament.png) no-repeat;
                width: 93px;
                height: 89px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-size: contain;
            }
        }
    }

    .ttl_b {
        font-size: rem(24);
        line-height: 34px;
        color: #ff9c01;
        font-weight: bold;
        margin-bottom: 43px;
        text-align: center;
    }

    .treament {
        position: relative;
        display: flex;
        justify-content: flex-end;

        picture {
            width: percentage(928/1920);
            position: relative;
            transform: translateZ(0);
            z-index: 2;
            height: 287px;
            line-height: 0;
            overflow: hidden;
            /*img {
                width: 100%;
                height: auto;
            }*/
        }

        &_pos {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                content: "";
                width: percentage(948/1920);
                height: 287px;
                right: 0;
                top: 20px;
                background: #ff9c01;
            }
        }

        &_m {
            height: 100%;

            &_w {
                width: percentage(910/1920);
                display: flex;
                flex-direction: column;
                padding-left: 63px;
                margin-top: 5px;

                p {
                    font-size: rem(14);
                    line-height: 23px;

                    +p {
                        margin-top: 23px;
                    }
                }
            }
        }
    }
}

.st_preventive {
    padding: 0 0 137px;

    .ttl_preventive {
        text-align: center;
        margin-bottom: 38px;

        span {
            font-size: rem(50);
            line-height: 1;
            color: #ff9c01;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, transparent), color-stop(20%, #ffff00));
            background: -webkit-linear-gradient(transparent 90%, #ffff00 20%);
            background: -o-linear-gradient(transparent 90%, #ffff00 20%);
            background: linear-gradient(transparent 90%, #ffff00 20%);
            position: relative;
            font-weight: bold;
            display: inline-block;
            padding-top: 110px;

            &:before {
                content: "";
                background: url(../images/i_ttl_preventive.png) no-repeat;
                width: 62px;
                height: 87px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-size: contain;
            }
        }
    }

    .ttl_b {
        font-size: rem(24);
        line-height: 34px;
        color: #ff9c01;
        font-weight: bold;
        margin-bottom: 42px;
        text-align: center;
    }

    .preventive {
        position: relative;
        display: flex;
        justify-content: flex-start;

        picture {
            width: percentage(928/1920);
            position: relative;
            transform: translateZ(0);
            z-index: 2;
            height: 287px;
            line-height: 0;
            overflow: hidden;
            text-align: right;
            /*img {
                width: 100%;
                height: auto;
            }*/
        }

        &_pos {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                content: "";
                width: percentage(948/1920);
                height: 287px;
                left: 0;
                top: 20px;
                background: #ff9c01;
            }
        }

        &_m {
            height: 100%;
            display: flex;
            justify-content: flex-end;

            &_w {
                width: percentage(910/1920);
                display: flex;
                flex-direction: column;
                padding-right: 65px;
                margin-top: 13px;

                p {
                    font-size: rem(14);
                    line-height: 23px;

                    +p {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.b_map {
    border-top: 5px solid #ff9c01;
    border-bottom: 5px solid #ff9c01;
    line-height: 0;

    iframe {
        width: 100%;
        height: 363px;
    }
}

.st_medical {
    padding: 80px 0 68px;

    .ttl_medical {
        text-align: center;
        font-size: rem(34);
        line-height: 34px;
        font-weight: bold;
        color: #553600;
        margin-bottom: 41px;
    }

    p {
        font-size: rem(15);
        line-height: 29px;
        color: #553600;
        text-align: center;
        font-weight: 500;
    }

    .list_mdc {
        margin: 42px 0 8px -20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li {
            width: calc(20% - 20px);
            margin: 0 0 50px 20px;

            a {
                display: block;

                &:hover {
                    figure {
                        span {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            figure {
                line-height: 0;

                span {
                    overflow: hidden;
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                        transition: transform 0.3s ease-out;
                    }
                }

                figcaption {
                    font-size: rem(18);
                    line-height: 34px;
                    color: #553600;
                    font-weight: bold;
                    text-align: center;
                    padding: 19px 0;
                    background-color: #ffedcd;
                }
            }
        }
    }

    .btn_list {
        width: 406px;
        height: 68px;
        display: block;
        background-color: #553600;
        padding: 3px;
        margin: 0 auto;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid #ffedcd;

            span {
                font-size: rem(17);
                line-height: 1;
                position: relative;
                padding-left: 18px;
                color: #ffffff;

                &:before {
                    content: "";
                    background: url(../images/arr_btn.png) no-repeat;
                    width: 8px;
                    height: 13px;
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .b_slider {
        .btn_txt {
            left: 0;

            figure {
                img {
                    width: vw(69);
                    height: auto;
                }
            }
        }

        .slider {
            li {
                &.slick-current {
                    &:before {
                        content: none;
                    }

                    &:after {
                        content: none;
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}