@charset "utf-8";
//  use toppage
//=================================================================== */

.b_slider {
    position: relative;

    .btn_txt {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: #ff9c01;
        height: 100%;
        padding: vw(15) vw(30);

        figure {
            img {
                width: vw(69);
                height: auto;
            }
        }
    }

    .slider {
        margin-bottom: 0 !important;

        .slick-track {
            display: flex;
        }

        li {
            text-align: center;
            line-height: 0;
            position: relative;

            figure {
                line-height: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .slick-dots {
            z-index: 9;
            bottom: vw(10);

            li {
                width: 10px !important;
                ;
                height: 10px !important;
                ;
                background-color: #553600;
                border-radius: 50%;

                &.slick-active {
                    background-color: #ff9c01;
                }

                button {
                    &:before {
                        content: none;
                    }
                }
            }
        }
    }
}

.st_information {
    padding: 40px 0px;

    .row {
        padding: 0 10px;
    }

    .ttl_information {
        width: 100px;
        height: 100px;
        background-color: #553600;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        font-size: rem(16);
        line-height: 1;
        letter-spacing: 1px;
        border-radius: 50%;
        margin: 0 auto 20px;

        span {
            display: block;
            font-size: rem(9);
            line-height: 1;
            margin-top: 5px;
            letter-spacing: 0;
        }
    }

    .list_information {
        li {
            border-bottom: 1px dotted #000;

            a {
                padding: 8px 0 9px;
                display: flex;
                padding-left: 5px;
                pointer-events: none;

                &:hover {
                    time {
                        color: #ff9c01;
                    }

                    em {
                        color: #ff9c01;
                    }
                }

                time {
                    display: block;
                    font-size: rem(11);
                    line-height: 1.5;
                    color: #666666;
                    font-weight: bold;
                    width: 75px;
                }

                em {
                    display: block;
                    font-size: rem(11);
                    line-height: 1.5;
                    font-style: normal;
                    width: calc(100% - 75px);
                    padding-left: 10px;
                }
            }
        }
    }
}

.st_greeting {
    background-color: #ff9c01;
    padding: 58px 0 54px;

    .row {
        padding: 0 10px;
    }

    .b_greeting {
        .ttl_greeting {
            text-align: center;
            margin-bottom: 20px;
            position: relative;

            &:before {
                content: "";
                background: url(../images/icon_gr_01.png) no-repeat;
                background-size: contain;
                width: 36px;
                height: 86px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                margin-top: -18px;
            }

            &:after {
                content: "";
                background: url(../images/icon_gr_02.png) no-repeat;
                background-size: contain;
                width: 40px;
                height: 60px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }

            img {
                width: 173px;
                height: auto;
            }
        }

        p {
            color: #fff;
            font-size: rem(12);
            line-height: 1.8;
            font-weight: bold;
        }
    }
}

.st_point {
    padding: 53px 0 0;

    .row {
        padding: 0 10px;
    }

    .ttl_point {
        text-align: center;
        margin-bottom: 50px;

        span {
            position: relative;
            font-size: rem(32);
            line-height: 1;
            color: #ff9c01;
            font-weight: bold;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #ffff00));
            background: -webkit-linear-gradient(transparent 65%, #ffff00 20%);
            background: -o-linear-gradient(transparent 65%, #ffff00 20%);
            background: linear-gradient(transparent 65%, #ffff00 20%);
            margin-left: 43px;

            &:before {
                content: "";
                background: url(../images/i_ttl_point.png) no-repeat;
                background-size: contain;
                width: 45px;
                height: 36px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -63px;
            }
        }
    }

    .gr_point {
        article {
            &:not(:last-child) {
                margin-bottom: 50px;
            }

            h3 {
                font-size: rem(14);
                line-height: 23px;
                color: #fff;
                font-weight: bold;
                background-color: #ff9c01;
                padding: 10px 0 10px 70px;
                position: relative;
                margin-bottom: 25px;

                span {
                    position: absolute;
                    top: -20px;
                    left: 5px;

                    img {
                        width: 53px;
                        height: auto;
                    }
                }
            }

            figure {
                margin-bottom: 20px;
                text-align: center;

                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }
            }

            p {
                font-size: rem(12);
                line-height: 1.8;
                font-weight: 500;
                color: #333;
            }
        }
    }
}

.st_treament {
    padding: 10px 0 50px;

    .row {
        padding: 0 10px;
    }

    .ttl_treament {
        text-align: center;
        margin-bottom: 38px;
        padding-top: 58px;

        span {
            font-size: rem(32);
            line-height: 1;
            color: #ff9c01;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(92%, transparent), color-stop(20%, #ffff00));
            background: -webkit-linear-gradient(transparent 92%, #ffff00 20%);
            background: -o-linear-gradient(transparent 92%, #ffff00 20%);
            background: linear-gradient(transparent 92%, #ffff00 20%);
            position: relative;
            font-weight: bold;
            display: inline-block;
            padding-top: 70px;

            &:before {
                content: "";
                background: url(../images/i_ttl_treament.png) no-repeat;
                width: 60px;
                height: 58px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-size: contain;
            }
        }
    }

    .ttl_b {
        font-size: rem(15);
        line-height: 1.5;
        color: #ff9c01;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .treament {
        position: relative;

        picture {
            margin-left: vw(40);

            &:after {
                content: "";
                width: 100%;
                height: vw(307);
                background-color: #ff9c01;
                position: absolute;
                top: vw(20);
                left: vw(20);
                z-index: -1;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &_m {
            height: 100%;

            &_w {
                margin-top: 30px;

                p {
                    font-size: rem(12);
                    line-height: 1.8;

                    +p {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.st_preventive {
    padding: 0 0 50px;

    .row {
        padding: 0 10px;
    }

    .ttl_preventive {
        text-align: center;
        margin-bottom: 38px;

        span {
            font-size: rem(32);
            line-height: 1;
            color: #ff9c01;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(92%, transparent), color-stop(20%, #ffff00));
            background: -webkit-linear-gradient(transparent 92%, #ffff00 20%);
            background: -o-linear-gradient(transparent 92%, #ffff00 20%);
            background: linear-gradient(transparent 92%, #ffff00 20%);
            position: relative;
            font-weight: bold;
            display: inline-block;
            padding-top: 70px;

            &:before {
                content: "";
                background: url(../images/i_ttl_preventive.png) no-repeat;
                width: 42px;
                height: 57px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                background-size: contain;
            }
        }
    }

    .ttl_b {
        font-size: rem(15);
        line-height: 1.5;
        color: #ff9c01;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .preventive {
        position: relative;

        picture {
            margin-left: vw(-40);

            &:after {
                content: "";
                width: 100%;
                height: vw(307);
                background-color: #ff9c01;
                position: absolute;
                top: vw(20);
                left: vw(-20);
                z-index: -1;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        &_m {
            height: 100%;

            &_w {
                margin-top: 30px;

                p {
                    font-size: rem(12);
                    line-height: 1.8;

                    +p {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.b_map {
    border-top: 5px solid #ff9c01;
    border-bottom: 5px solid #ff9c01;
    line-height: 0;

    iframe {
        width: 100%;
        height: 300px;
    }
}

.st_medical {
    padding: 45px 0 30px;

    .row {
        padding: 0 10px;
    }

    .ttl_medical {
        text-align: center;
        font-size: rem(25);
        line-height: 1.5;
        font-weight: bold;
        color: #553600;
        margin-bottom: 15px;
    }

    p {
        font-size: rem(12);
        line-height: 1.5;
        color: #553600;
        text-align: left;
        font-weight: 500;
    }

    .list_mdc {
        margin: 30px 0 8px -16px;
        display: flex;
        flex-flow: row wrap;
        padding: 0 24px;

        li {
            width: calc(50% - 16px);
            margin: 0 0 20px 16px;

            a {
                display: block;

                &:hover {
                    figure {
                        span {
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            figure {
                line-height: 0;

                span {
                    overflow: hidden;
                    display: block;

                    img {
                        width: 100%;
                        height: auto;
                        transition: transform 0.3s ease-out;
                    }
                }

                figcaption {
                    font-size: rem(14);
                    line-height: 1.5;
                    color: #553600;
                    font-weight: bold;
                    text-align: center;
                    padding: 10px 0;
                    background-color: #ffedcd;
                }
            }
        }
    }

    .btn_list {
        width: vw(700);
        height: 50px;
        display: block;
        background-color: #553600;
        padding: 3px;
        margin: 0 auto;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid #ffedcd;

            span {
                font-size: rem(13);
                line-height: 1;
                position: relative;
                padding-left: 15px;
                color: #ffffff;

                &:before {
                    content: "";
                    background: url(../images/arr_btn.png) no-repeat;
                    width: 6px;
                    height: 11px;
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }
            }
        }
    }
}