@charset "utf-8";
/* ===================================================================
  use second page
=================================================================== */
.st_access{
  padding-bottom: 120px;
  .row{
    padding: 0 132px 0 148px;
  }
  .gr_art{
    article{
      +article{
        margin-top: 88px;
      }
      p{
        font-size: rem(16);
        line-height: 25px;
        +p{
          margin-top: 25px;
        }
      }
      .map{
        margin-top: 35px;
        iframe{
          width: 100%;
          height: 363px;
        }
      }
      .b_tbl{
        table,th,td{
          border-collapse: collapse;
          border: 1px solid #c3b39a;
        }
        table{
          width: 100%;
          th{
            background-color: #553600;
            color: #fff;
            font-size: rem(16);
            line-height: 1;
            text-align: center;
            vertical-align: middle;
            padding: 15px 0;
            text-align: center;
            &:first-of-type{
              width:180px;
            }
          }
          td{
            background-color: #fff;
            font-size: rem(16);
            line-height: 1;
            color: #333333;
            padding: 13px 0;
            text-align: center;
          }
        }
        em{
          font-style: normal;
          font-size: rem(14);
          line-height: 27px;
          display: block;
          margin-top: 8px;
        }
      }
      figure{
        margin-top: 35px;
        line-height: 0;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.st_recruit{
  .b_recruit{
    .row{
      display: flex;
      align-items: center;
      padding: 0 132px 0 148px;
    }
    .b_left{
      width: 50%;
      p{
        font-size: rem(16);
        line-height: 25px;
        +p{
          margin-top: 25px;
        }
      }
    }
    figure{
      width: 50%;
      text-align: center;
    }
    .btn_ct{
      a{
        width: 500px;
        height: 61px;
        background-color: #ff9c01;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: rem(38);
        line-height: 1;
        font-weight: bold;
        margin: 50px auto;
        span{
          font-size: rem(20);
          line-height: 1;
          display: inline-flex;
          margin-right: 10px;
        }
      }
    }
  }
}