@charset "utf-8";

/* ===================================================================
  use second page
=================================================================== */
.st_access {
    padding-bottom: 50px;

    .row {
        padding: 0 10px;
    }

    .gr_art {
        article {
            +article {
                margin-top: 40px;
            }

            p {
                font-size: rem(12);
                line-height: 1.8;

                +p {
                    margin-top: 15px;
                }
            }

            .map {
                margin-top: 35px;

                iframe {
                    width: 100%;
                    height: 300px;
                }
            }

            .b_tbl {

                table,
                th,
                td {
                    border-collapse: collapse;
                    border: 1px solid #c3b39a;
                }

                table {
                    width: 100%;

                    th {
                        background-color: #553600;
                        color: #fff;
                        font-size: rem(12);
                        line-height: 1;
                        text-align: center;
                        vertical-align: middle;
                        padding: 15px 0;
                        text-align: center;

                        &:first-of-type {
                            width: 180px;
                        }
                    }

                    td {
                        background-color: #fff;
                        font-size: rem(12);
                        line-height: 1;
                        color: #333333;
                        padding: 13px 0;
                        text-align: center;
                    }
                }

                em {
                    font-style: normal;
                    font-size: rem(12);
                    line-height: 27px;
                    display: block;
                    margin-top: 8px;
                }
            }

            figure {
                margin-top: 35px;
                line-height: 0;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

.st_recruit {
    .b_recruit {
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 100px;
        }

        .b_left {
            /*width: 50%;*/

            p {
                font-size: rem(12);
                line-height: 1.5;

                +p {
                    margin-top: 15px;
                }
            }
        }

        figure {
            /*width: 50%;*/
            text-align: center;
            margin-left: 15px;

            img {
                width: 150px;
                height: auto;
            }
        }

        .btn_ct {
            a {
                width: 80%;
                height: 40px;
                background-color: #ff9c01;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: rem(20);
                line-height: 1;
                font-weight: bold;
                margin: 30px auto;

                span {
                    font-size: rem(14);
                    line-height: 1;
                    display: inline-flex;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .st_access {
        .gr_art {
            article {
                .b_tbl {
                    table {
                        th {
                            &:first-of-type {
                                width: 145px;
                            }
                        }
                    }
                }
            }
        }
    }

    .st_recruit .b_recruit .row {
        padding: 0 10px;
    }
}