@charset "utf-8";
/* ===================================================================
  use second page
=================================================================== */
.st_introduction{
  .ttl_s_art{
    text-align: center;
    margin-bottom: 25px;
    span{
      font-size: rem(22);
      font-weight: bold;
      color: #ff9c01;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #ffff00));
      background: -webkit-linear-gradient(transparent 65%, #ffff00 20%);
      background: -o-linear-gradient(transparent 65%, #ffff00 20%);
      background: linear-gradient(transparent 65%, #ffff00 20%);
    }
  }
  .b_top{
    padding-bottom: 60px;
    .row{
      padding: 0 10px;
    }
    article{
      +article{
        margin-top: 40px;
      }
      .ctn_art{
        display: flex;
        flex-direction: column;
        figure{
          text-align: center;
          order: 1;
          margin-bottom: 20px;
          img{
            width: auto;
            max-width: 100%;
            height: auto;
          }
        }
        .b_txt{
          order: 2;
          position: relative;
          dl{
            dt{
              font-weight: bold;
              font-size: rem(18);
              line-height: 1;
              margin-bottom: 15px;
            }
            dd{
              p{
                font-size: rem(12);
                line-height: 1.8;
                +p{
                  margin-top: 15px;
                }
              }
            }
          }
          .b_bottom{
            p{
              font-size: rem(12);
              line-height: 1.8;
              +p{
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
  .b_photo{
    background-color: #fff4dd;
    padding: 40px 0;
    .row{
      padding: 0 10px;
    }
    figure{
      text-align: center;
      img{
        border:2px solid #ff9c01;
        line-height: 0;
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .b_equipment{
    background-color: #ff9c01;
    padding: 40px 0 40px;
    position: relative;
    &:after{
      content:"";
      background: url(../images/arr_down.png) no-repeat;
      background-size: contain;
      width: 69px;
      height: 21px;
      position: absolute;
      bottom: -21px;
      left: 50%;
      transform: translateX(-50%);
    }
    .row{
      padding: 0 10px;
    }
    .ttl_s_art{
      margin-bottom: 15px;
      span{
        color: #fff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #553600));
        background: -webkit-linear-gradient(transparent 65%, #553600 20%);
        background: -o-linear-gradient(transparent 65%, #553600 20%);
        background: linear-gradient(transparent 65%, #553600 20%);
      }
    }
    p{
      color: #fff;
      font-size: rem(12);
      line-height: 1.8;
    }
  }
  .b_box{
    padding: 35px 0 20px;
    &.bkg_yl{
      background-color: #fff4dd;
    }
    .row{
      padding: 0 10px;
    }
    .b_flex{
      margin-bottom: 40px;
      figure{
        text-align: center;
        margin-bottom: 20px;
        img{
          width: auto;
          max-width: 100%;
          height: auto;
        }
      }
      .b_txt{
        h4{
          font-size: rem(18);
          line-height: 1.5;
          font-weight: bold;
          margin-bottom: 12px;
        }
        p{
          font-size: rem(12);
          line-height: 1.8;
        }
        strong{
          background-color: #e0e0e0;
          border-radius: 30px;
          padding: 10px 20px;
          display: block;
          margin: 12px 0;
          font-size: rem(12);
          line-height: 1;
        }
      }
    }
    .gr_item{
      .ttl_item{
        font-size: rem(17);
        line-height: 1;
        font-weight: bold;
        padding-left: 15px;
        position: relative;
        margin-bottom: 30px;
        &:before{
          content:"";
          width: 3px;
          height: 30px;
          background-color: #ff9c01;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
      .b_item{
        display: flex;
        flex-flow: row wrap;
        margin-left: -15px;
        dl{
          width: calc(50% - 15px);
          margin: 0 0 30px 15px;
          dt{
            background-color: #ff9c01;
            color: #fff;
            font-size: rem(14);
            line-height: 1.8;
            padding: 6px 10px;
            margin-bottom: 15px;
            font-weight: bold;
          }
          dd{
            p{
              font-size: rem(12);
              line-height: 1.8;
            }
          }
        }
      }
    }
  }
  .b_diagnostic{
    padding: 50px 0;
    .row{
      padding: 0 10px;
    }
    figure{
      text-align: center;
      margin-bottom: 20px;
      img{
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
    .txt_diag{
      h4{
        font-size: rem(18);
        line-height: 1.5;
        margin-bottom: 12px;
      }
      p{
        font-size: rem(12);
        line-height: 1.8;
      }
    }
  }
}