@charset "utf-8";
/* ===================================================================
  use second page
=================================================================== */
.st_introduction{
  .ttl_s_art{
    text-align: center;
    margin-bottom: 50px;
    span{
      font-size: rem(44);
      font-weight: bold;
      color: #ff9c01;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #ffff00));
      background: -webkit-linear-gradient(transparent 65%, #ffff00 20%);
      background: -o-linear-gradient(transparent 65%, #ffff00 20%);
      background: linear-gradient(transparent 65%, #ffff00 20%);
    }
  }
  .b_top{
    padding-bottom: 60px;
    article{
      +article{
        margin-top: 40px;
      }
      &:nth-of-type(1){
        padding-bottom: 135px;
        .ctn_art{
          .b_bottom{
            padding: 40px;
            position: absolute;
            right: 0;
          }
        }
      }
      &:nth-of-type(2){
        .ctn_art{
          .b_bottom{
            padding: 40px 40px 40px 0;
          }
        }
      }
      .ctn_art{
        display: flex;
        figure{
          width: 50%;
          img{
            width: 100%;
            height: auto;
          }
        }
        .b_txt{
          width: 50%;
          padding-left: 50px;
          position: relative;
          dl{
            dt{
              font-weight: bold;
              font-size: rem(20);
              line-height: 1;
              margin-bottom: 20px;
            }
            dd{
              p{
                font-size: rem(14);
                line-height: 23px;
                +p{
                  margin-top: 20px;
                }
              }
            }
          }
          .b_bottom{
            background-color: #fff;
            width: 620px;
            p{
              font-size: rem(14);
              line-height: 23px;
              +p{
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
  .b_photo{
    background-color: #fff4dd;
    padding: 80px 0 120px;
    figure{
      text-align: center;
      img{
        border:5px solid #ff9c01;
        line-height: 0;
      }
    }
  }
  .b_equipment{
    background-color: #ff9c01;
    padding: 70px 0 70px;
    position: relative;
    &:after{
      content:"";
      background: url(../images/arr_down.png) no-repeat;
      width: 138px;
      height: 43px;
      position: absolute;
      bottom: -43px;
      left: 50%;
      transform: translateX(-50%);
    }
    .row{
      padding: 0 130px;
    }
    .ttl_s_art{
      margin-bottom: 30px;
      span{
        color: #fff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #553600));
        background: -webkit-linear-gradient(transparent 65%, #553600 20%);
        background: -o-linear-gradient(transparent 65%, #553600 20%);
        background: linear-gradient(transparent 65%, #553600 20%);
      }
    }
    p{
      color: #fff;
      font-size: rem(16);
      line-height: 26px;
    }
  }
  .b_box{
    padding: 110px 0 45px;
    &.bkg_yl{
      background-color: #fff4dd;
    }
    .row{
      padding: 0 45px;
    }
    .b_flex{
      display: flex;
      margin-bottom: 40px;
      figure{
        width: calc(100% - 500px);
        img{
          width: 100%;
          height: auto;
        }
      }
      .b_txt{
        width: 500px;
        padding-left: percentage(75/1000);
        h4{
          font-size: rem(22);
          line-height: 26px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        p{
          font-size: rem(14);
          line-height: 23px;
        }
        strong{
          background-color: #e0e0e0;
          border-radius: 30px;
          padding: 10px 20px;
          display: block;
          margin: 15px 0;
          font-size: rem(16);
          line-height: 26px;
        }
      }
    }
    .gr_item{
      .ttl_item{
        font-size: rem(34);
        line-height: 1;
        font-weight: bold;
        padding-left: 15px;
        position: relative;
        margin-bottom: 50px;
        &:before{
          content:"";
          width: 5px;
          height: 40px;
          background-color: #ff9c01;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
      .b_item{
        display: flex;
        flex-flow: row wrap;
        margin-left: -20px;
        dl{
          width: calc(33.33% - 20px);
          margin: 0 0 40px 20px;
          dt{
            background-color: #ff9c01;
            color: #fff;
            font-size: rem(18);
            line-height: 23px;
            padding: 10px 20px;
            margin-bottom: 15px;
            font-weight: bold;
          }
          dd{
            p{
              font-size: rem(14);
              line-height: 23px;
            }
          }
        }
      }
    }
  }
  .b_diagnostic{
    padding: 75px 0;
    .row{
      padding: 0 45px;
      display: flex;
    }
    figure{
      width: calc(100% - 500px);
      img{
        width: 100%;
        height: auto;
      }
    }
    .txt_diag{
      width: 500px;
      padding-left: percentage(75/1000);
      h4{
        font-size: rem(22);
        line-height: 26px;
        margin-bottom: 20px;
      }
      p{
        font-size: rem(14);
        line-height: 23px;
      }
    }
  }
}