@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================

.show_sp {
  display: none !important;
}

.container{
	overflow:hidden;
}

.row {
  width:100%;
  max-width: 980px;
  margin: 0 auto;
}

@import "./_header_pc.scss";
@import "./_footer_pc.scss";
@import "./_ttl_pc.scss";

