@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================

img {
  width: 100%;
  height: auto;
}

.container{
	overflow:hidden;
}

.show_pc {
  display: none!important;
}

.row {
  padding: 0 0;
}

@import "./_header_sp.scss";
@import "./_footer_sp.scss";
@import "./_nav_sp.scss";
@import "./_ttl_sp.scss";