footer {
    background-color: #fd9b00;
    position: relative;
    margin-top: 221px;

    &:after {
        content: "";
        width: 100%;
        height: 365px;
        background: url(../../common/images/bkg_footer.png) center center repeat-x;
        position: absolute;
        top: -215px;
        left: 50%;
        transform: translateX(-50%);
    }

    .top_ft {
        text-align: center;
        padding: 0 0 63px;
        position: relative;
        z-index: 1;

        .logo_ft {
            margin-bottom: 15px;

            a {
                font-size: rem(32);
                line-height: 1;
                color: #fff;
                font-family: "Yu Mincho", YuMincho, sans-serif;
                font-weight: 600;

                span {
                    font-size: rem(18);
                    line-height: 1;
                }
            }
        }

        .txt_tel {
            font-family: "Yu Mincho", YuMincho, sans-serif;
            color: #fff;
            font-size: rem(28);
            font-weight: 500;
            line-height: 1;
            margin-bottom: 11px;

            a {
                color: #fff;
                display: inline-block;
            }
        }

        .txt_add {
            color: #fff;
            font-style: normal;
            font-size: rem(16);
            line-height: 25px;
            font-weight: 500;

            small {
                font-size: rem(14);
            }
        }

        .nav_ft {
            margin: 38px 0 17px;

            li {
                display: inline-block;

                &:not(:last-child) {
                    border-right: 1px solid #fff;
                    margin-bottom: 10px;
                }

                a {
                    display: inline-block;
                    padding: 0 34px;
                    font-size: rem(15);
                    line-height: 1;
                    color: #fff;
                }
            }
        }

        .b_flex {
            display: flex;
            justify-content: center;

            .tbl {
                margin-right: 20px;

                table,
                th,
                td {
                    border-collapse: collapse;
                    border: 1px solid #c3b39a;
                }

                table {
                    width: 502px;

                    th {
                        background-color: #553600;
                        color: #fff;
                        font-size: rem(16);
                        line-height: 1;
                        text-align: center;
                        vertical-align: middle;
                        padding: 15px 0;

                        &:first-of-type {
                            width: 145px;
                        }
                    }

                    td {
                        background-color: #fff;
                        font-size: rem(16);
                        line-height: 1;
                        color: #333333;
                        padding: 13px 0;
                    }
                }

                em {
                    font-style: normal;
                    color: #fff;
                    font-size: rem(14);
                    line-height: 27px;
                    display: block;
                    margin-top: 8px;
                }
            }
        }
    }

    .bottom_ft {
        text-align: center;
        background-color: #fff;
        padding: 23px 0;

        p {
            font-size: rem(13);
            line-height: 40px;
            color: #333;
            font-weight: bold;
        }
    }
}