footer {
    background-color: #fd9b00;
    position: relative;
    margin-top: vw(230);

    .row {
        padding: 0 10px;
    }

    &:after {
        content: "";
        width: vw(768);
        height: vw(365);
        background: url(../../common/images/bkg_footer_sp.png) center center no-repeat;
        background-size: cover;
        position: absolute;
        top: vw(-215);
        left: 50%;
        transform: translateX(-50%);
    }

    .top_ft {
        text-align: center;
        padding: 0 0 30px;
        position: relative;
        z-index: 1;

        .logo_ft {
            margin-bottom: 10px;

            a {
                font-size: rem(26);
                line-height: 1;
                color: #fff;
                font-family: "Yu Mincho", YuMincho, sans-serif;
                font-weight: 600;

                span {
                    font-size: rem(14);
                    line-height: 1;
                }
            }
        }

        .txt_tel {
            font-family: "Yu Mincho", YuMincho, sans-serif;
            color: #fff;
            font-size: rem(18);
            font-weight: 500;
            line-height: 1;
            margin-bottom: 11px;

            a {
                color: #fff;
                display: inline-block;
            }
        }

        .txt_add {
            color: #fff;
            font-style: normal;
            font-size: rem(12);
            line-height: 1.5;
            font-weight: 500;

            small {
                font-size: rem(10);
            }
        }

        .nav_ft {
            margin: 20px 0 15px;

            li {
                display: inline-block;

                &:not(:last-child) {
                    border-right: 1px solid #fff;
                    margin-bottom: 10px;
                }

                a {
                    display: inline-block;
                    padding: 0 20px;
                    font-size: rem(12);
                    line-height: 1;
                    color: #fff;
                }
            }
        }

        .b_flex {
            .tbl {
                margin-bottom: 20px;

                table,
                th,
                td {
                    border-collapse: collapse;
                    border: 1px solid #c3b39a;
                }

                table {
                    width: 420px;
                    margin: 0 auto;

                    th {
                        background-color: #553600;
                        color: #fff;
                        font-size: rem(12);
                        line-height: 1;
                        text-align: center;
                        vertical-align: middle;
                        padding: 15px 0;

                        &:first-of-type {
                            width: 130px;
                        }
                    }

                    td {
                        background-color: #fff;
                        font-size: rem(12);
                        line-height: 1;
                        color: #333333;
                        padding: 13px 0;
                    }
                }

                em {
                    font-style: normal;
                    color: #fff;
                    font-size: rem(11);
                    line-height: 1.5;
                    display: block;
                    margin-top: 8px;
                }
            }

            .b_link_sp {
                picture {
                    img {
                        width: 280px;
                        height: auto;
                    }
                }
            }
        }
    }

    .bottom_ft {
        text-align: center;
        background-color: #fff;
        padding: 15px 0;

        p {
            font-size: rem(10);
            line-height: 1.5;
            color: #333;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 480px) {
    footer {
        .top_ft {
            .b_flex {
                .tbl {
                    table {
                        width: 100%;
                    }
                }
            }

            .nav_ft {
                li a {
                    padding: 0 12px;
                }
            }
        }
    }
}