header {
    border-top: 10px solid #ff9c01;

    .top_hd {
        .row {
            display: flex;
            align-items: center;
        }

        .list_txt {
            background-color: #ff9c01;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            padding: 0 10px 5px;

            li {
                font-size: rem(13);
                line-height: 17px;
                color: #fff;
                position: relative;
                padding-left: 15px;

                &:before {
                    content: "●";
                    font-size: rem(13);
                    line-height: 17px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:not(:last-child) {
                    margin-bottom: 2px;
                }
            }
        }

        p {
            font-size: rem(14);
            line-height: 1.5;
            margin-left: 13px;
        }
    }

    .center_hd {
        padding: 24px 0 43px;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            a {
                display: block;

                img {
                    width: 274px;
                    height: auto;
                }
            }
        }

        .btn_booking {
            margin-right: auto;
            a {
                background-color: #330000;
                border-radius: 8px;
                font-size: rem(20);
                line-height: 1;
                font-weight: bold;
                font-family: $notojp;
                color: #fff;
                width: 280px;
                height: 43px;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: inline-block;
                    position: relative;
                    padding-left: 15px;

                    &:before {
                        content: "";
                        background: url(../../common/images/arr_r.png) no-repeat;
                        background-size: contain;
                        width: 10px;
                        height: 11px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }
            }
        }

        .b_tel {
            em {
                display: block;
                font-style: normal;
                font-size: rem(16);
                line-height: 1;
                font-weight: bold;
                color: #ff9c01;
                text-align: center;
                margin-bottom: 10px;
                margin-left: 44px;
            }

            p {
                display: flex;
                align-items: center;

                ins {
                    text-decoration: none;
                    font-size: rem(18);
                    line-height: 1;
                    font-family: 'Noto Sans JP';
                    font-weight: 500;
                    color: #ff9c01;
                    display: block;
                    margin-right: 12px;
                }
            }

            .tel {
                font-size: rem(29);
                line-height: 1;
                font-weight: bold;
                color: #fff;
                background-color: #ff9c01;
                width: 268px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 0 4px;
                border-radius: 8px;
                font-family: 'Noto Sans JP';
            }
        }
    }

    .bottom_hd {
        padding-bottom: 40px;

        .nav {
            ul {
                display: flex;

                li {
                    width: 20%;
                    text-align: center;
                    position: relative;

                    &:before {
                        content: "";
                        width: 1px;
                        height: 100%;
                        border-left: 1px dotted #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:last-of-type {
                        &:after {
                            content: "";
                            width: 1px;
                            height: 100%;
                            border-right: 1px dotted #000;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }

                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 980px) {
    header {
        .center_hd {
            padding: 20px 0 30px;

            .logo {
                a {
                    img {
                        width: 200px;
                        height: auto;
                    }
                }
            }

            .btn_booking {
                a {
                    width: 220px;
                    height: 40px;
                    font-size: rem(16);
                }
            }

            .b_tel {
                em {
                    margin-left: 40px;
                    font-size: rem(14);
                    margin-bottom: 5px;
                }

                p {
                    ins {
                        font-size: rem(16);
                    }
                }

                .tel {
                    width: 220px;
                    height: 40px;
                    padding-bottom: 0;
                    font-size: rem(20);
                }
            }
        }
    }
}