header {
    .top_hd {
        .list_txt {
            background-color: #ff9c01;
            padding: 6px 16px;
            margin-bottom: 15px;

            li {
                font-size: rem(10);
                line-height: 1;
                color: #fff;
                position: relative;
                padding-left: 12px;

                &:before {
                    content: "●";
                    font-size: rem(10);
                    line-height: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }

        p {
            font-size: rem(11);
            line-height: 1.5;
            text-align: center;
        }
    }

    .center_hd {
        padding: 95px 0 0;

        .row {
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        .logo {
            position: absolute;
            top: -75px;
            left: 50%;
            transform: translateX(-50%);

            a {
                display: block;

                img {
                    width: 205px;
                    height: auto;
                }
            }
        }

        .btn_booking {
            width: 50%;
            background-color: #330000;

            a {
                width: 100%;
                height: 100%;
                font-size: rem(13);
                line-height: 1;
                font-weight: bold;
                font-family: $notojp;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    display: inline-block;
                    position: relative;
                    padding-left: 12px;

                    &:before {
                        content: "";
                        background: url(../../common/images/arr_r.png) no-repeat;
                        background-size: contain;
                        width: 8px;
                        height: 9px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }
                }
            }
        }

        .b_tel {
            width: 50%;
            background-color: #ff9c01;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 13px 0;

            em {
                display: block;
                font-style: normal;
                font-size: rem(10);
                line-height: 1;
                font-weight: bold;
                color: #fff;
                text-align: center;
                margin-bottom: 3px;
            }

            p {
                display: flex;
                align-items: center;

                ins {
                    text-decoration: none;
                    font-size: rem(12);
                    line-height: 1;
                    font-family: 'Noto Sans JP';
                    font-weight: 500;
                    color: #ffff;
                    display: block;
                    margin: 8px 5px 0 0px;
                }
            }

            .tel {
                font-size: rem(24);
                line-height: 1;
                font-weight: bold;
                color: #fff;
                border-radius: 8px;
                font-family: 'Noto Sans JP';
            }
        }
    }

    .bottom_hd {
        padding-bottom: 36px;

        .nav {
            ul {
                display: flex;

                li {
                    width: 20%;
                    text-align: center;
                    position: relative;

                    &:before {
                        content: "";
                        width: 1px;
                        height: 100%;
                        border-left: 1px dotted #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:last-of-type {
                        &:after {
                            content: "";
                            width: 1px;
                            height: 100%;
                            border-right: 1px dotted #000;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }

                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    header {
        .center_hd {
            .b_tel {
                p {
                    ins {
                        margin: 3px 5px 0 0px;
                    }

                    .tel {
                        font-size: rem(20);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    header {
        .center_hd {
            .btn_booking a {
                font-size: rem(12);
            }

            .b_tel {
                p {
                    ins {
                        margin: 2px 5px 0 0px;
                    }

                    .tel {
                        font-size: rem(18);
                    }
                }
            }
        }
    }
}