.b_nav {
    background-color: #ffedcd;

    .nav_sp {
        display: flex;
        flex-flow: row wrap;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;

        li {
            width: 50%;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
            }

            &:nth-of-type(1) {
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;

                img {
                    width: 119px;
                    height: auto;
                }
            }

            &:nth-of-type(2) {
                border-bottom: 2px solid #fff;

                img {
                    width: 135px;
                    height: auto;
                }
            }

            &:nth-of-type(3) {
                border-right: 2px solid #fff;

                img {
                    width: 127px;
                    height: auto;
                }
            }

            &:nth-of-type(4) {
                img {
                    width: 116px;
                    height: auto;
                }
            }
        }
    }
}