.ttl_st {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-size: rem(24);
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background-color: #ff9c01;
    margin-bottom: 50px;
}

.ttl_art {
    font-size: rem(20);
    line-height: 1;
    color: #ff9c01;
    font-weight: bold;
    padding-left: 20px;
    position: relative;
    margin-bottom: 25px;

    &:before {
        content: "";
        width: 4px;
        height: 40px;
        background-color: #ff9c01;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}