.ttl_st {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    font-size: rem(35);
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background-color: #ff9c01;
    margin-bottom: 93px;
}

.ttl_art {
    font-size: rem(32);
    line-height: 1;
    color: #ff9c01;
    font-weight: bold;
    padding-left: 30px;
    position: relative;
    margin-bottom: 39px;

    &:before {
        content: "";
        width: 6px;
        height: 62px;
        background-color: #ff9c01;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}