@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";
//----------------------------------------------------
//  共通
//----------------------------------------------------
html {
  font-size: 10px;
}

@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

body,
td,
th,
input,
textarea {
  color: #000000;
  /*font-family: YuGothic, "游明朝体", "Yu Mincho", YuMincho ,'游ゴシック', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3',  Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Tahoma, Verdana, Arial, Verdana, sans-serif;*/
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", 'Hiragino Kaku Gothic Pro', "メイリオ", 'Meiryo', "ＭＳ Ｐゴシック", 'MS PGothic', Arial, sans-serif;
  font-size: rem(13);
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  color: #000000;
  text-decoration: none;
  /* filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80; */

}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {

  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;

}
*{
  box-sizing: border-box;
  word-break: break-word;
}

img {
  vertical-align: bottom;
}
.img_ck {
  font-size: rem(1);
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

div,
p {
  /*word-break: break-all;*/
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

//---------------------------------------------------------------------------

//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_common_pc.scss";
}

@include max-screen() {
  @import "./_common_sp.scss";
}