@charset "utf-8";
/* ===================================================================
  use second page
=================================================================== */

.st_medical{
  .b_flow{
    .ttl_flow{
      text-align: center;
      margin-bottom: 50px;
      span{
        position: relative;
        font-size: rem(44);
        line-height: 1;
        color: #ff9c01;
        font-weight: bold;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #ffff00));
        background: -webkit-linear-gradient(transparent 65%, #ffff00 20%);
        background: -o-linear-gradient(transparent 65%, #ffff00 20%);
        background: linear-gradient(transparent 65%, #ffff00 20%);
        margin-left: 93px;
        &:before{
          content:"";
          background: url(../images/i_ttl_flow.png) no-repeat;
          background-size: contain;
          width: 47px;
          height: 47px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -60px;
        }
      }
    }
    .txt_top{
      font-size: rem(16);
      line-height: 26px;
      max-width: 703px;
      margin: 0 auto;
    }
    .b_step{
      display: flex;
      flex-flow: row wrap;
      margin: 70px 0 0 -80px;
      padding: 0 50px 50px 50px;
      .step{
        width: calc(50% - 80px);
        margin: 0 0 50px 80px;
        .ttl_step{
          font-size: rem(22);
          line-height: 1.5;
          font-weight: bold;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          span{
            font-size: rem(14);
            line-height: 1;
            color: #fff;
            font-weight: bold;
            background-color: #000;
            padding: 5px 10px;
            margin-right: 5px;
          }
        }
        figure{
          margin-bottom: 15px;
          line-height: 0;
          img{
            width: 100%;
            height: auto;
          }
        }
        p{
          font-size: rem(16);
          line-height: 26px;
        }
      }
    }
  }
  .gr_art{
    article{
      padding: 80px 0;
      &:nth-child(odd){
        background-color: #fff4dd;
      }
      .row{
        padding: 0 50px;
      }
      .ttl_art_md{
        font-size: rem(30);
        line-height: 1.5;
        color: #ff9c01;
        font-weight: bold;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 30px;
        &:after{
          content:"";
          background: url(../images/bd_ttl.png) repeat;
          width: 100%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .ctn_art{
        max-width: 810px;
        margin: 0 auto 50px;
        p{
          font-size: rem(14);
          line-height: 24px;
          +p{
            margin-top: 20px;
          }
        }
      }
      dl{
        +dl{
          margin-top: 60px;
        }
        dt{
          background-color: #ff9c01;
          color: #fff;
          font-size: 1.8rem;
          line-height: 23px;
          padding: 10px 20px;
          margin-bottom: 15px;
          font-weight: bold;
          margin-bottom: 40px;
        }
        dd{
          ul{
            display: flex;
            flex-flow: row wrap;
            margin-left: -30px;
            li{
              width: calc(50% - 30px);
              margin: 0 0 20px 30px;
              padding-left: 20px;
              strong{
                font-weight: bold;
                display: block;
                font-size: rem(18);
                line-height: 23px;
                color: #ff9c01;
                margin-bottom: 10px;
                position: relative;
                &:before{
                  content:"・";
                  font-weight: bold;
                  display: block;
                  font-size: rem(18);
                  line-height: 23px;
                  color: #ff9c01;
                  position: absolute;
                  top: 0;
                  left: -20px;
                }
              }
              em{
                font-size: rem(14);
                line-height: 27px;
                font-style: normal;
              }
            }
          }
          p{
            font-size: rem(14);
            line-height: 24px;
            +p{
              margin-top: 20px;
            }
          }
        }
      }
      figure{
        img{
          width: 100%;
          height: auto;
        }
        figcaption{
          font-size: rem(14);
          line-height: 27px;
          font-weight: bold;
          color: #c80000;
          margin: 20px 0;
        }
      }
      .txt_bt{
        font-size: rem(14);
        line-height: 25px;
      }
      .b_flex{
        display: flex;
        flex-flow: row wrap;
        margin: 0 0 50px -40px;
        dl{
          width: calc(50% - 40px);
          margin: 0 0 30px 40px;
          dt{
            margin-bottom: 20px;
          }
          dd{
            span{
              margin-bottom: 15px;
              display: block;
              line-height: 0;
              img{
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
      .b_razu{
        display: flex;
        padding: 0 40px;
        .b_txt{
          width: 510px;
          padding-right: 50px;
        }
        figure{
          width: calc(100% -510px);
        }
      }
      .b_razu_02{
        display: flex;
        padding: 0 40px;
        .b_txt{
          width: 510px;
          padding-left: 50px;
        }
        figure{
          width: calc(100% -510px);
        }
      }
      .b_art{
        margin-top: 70px;
      }
      .txt_i{
        padding: 0 40px;
      }
      .gr_item_bt{
        padding: 0 40px;
        margin-top: 40px;
        .b_item{
          display: flex;
          &:not(:last-child){
            margin-bottom: 60px;
          }
          .item_txt{
            width: 50%;
            padding-left: 30px;
            h4{
              font-size: rem(18);
              line-height: 23px;
              color: #ed8c39;
              font-weight: bold;
              margin-bottom: 15px;
            }
            p{
              font-size: rem(14);
              line-height: 23px;
            }
          }
          figure{
            width: 50%;
            padding-right: 30px;
          }
        }
      }
      .btn_ct{
        padding: 0 40px;
        span {
          width: 100%;
          height: 50px;
          font-size: rem(24);
          line-height: 1.5;
          font-weight: bold;
          color: #fff;
          background-color: #ff9c01;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 30px;
          margin: 50px auto 0;
        }
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .st_medical .gr_art article .btn_ct a{
    font-size: rem(20);
  }
}