@charset "utf-8";
/* ===================================================================
  use second page
=================================================================== */

.st_medical {
    .row {
        padding: 0 10px;
    }

    .b_flow {
        .ttl_flow {
            text-align: center;
            margin-bottom: 30px;

            span {
                position: relative;
                font-size: rem(32);
                line-height: 1;
                color: #ff9c01;
                font-weight: bold;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(20%, #ffff00));
                background: -webkit-linear-gradient(transparent 65%, #ffff00 20%);
                background: -o-linear-gradient(transparent 65%, #ffff00 20%);
                background: linear-gradient(transparent 65%, #ffff00 20%);
                margin-left: 43px;

                &:before {
                    content: "";
                    background: url(../images/i_ttl_flow.png) no-repeat;
                    background-size: contain;
                    width: 27px;
                    height: 27px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -40px;
                }
            }
        }

        .txt_top {
            font-size: rem(12);
            line-height: 1.8;
        }

        .b_step {
            margin: 40px 0 0 0;
            padding-bottom: 40px;

            .step {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }

                .ttl_step {
                    font-size: rem(18);
                    line-height: 1.5;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    span {
                        font-size: rem(12);
                        line-height: 1;
                        color: #fff;
                        font-weight: bold;
                        background-color: #000;
                        padding: 5px 10px;
                        margin-right: 5px;
                    }
                }

                figure {
                    text-align: center;
                    margin-bottom: 15px;
                    line-height: 0;

                    img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                    }
                }

                p {
                    font-size: rem(12);
                    line-height: 1.8;
                }
            }
        }
    }

    .gr_art {
        article {
            padding: 40px 0;

            &:nth-child(odd) {
                background-color: #fff4dd;
            }

            .ttl_art_md {
                font-size: rem(20);
                line-height: 1.5;
                color: #ff9c01;
                font-weight: bold;
                padding-bottom: 8px;
                position: relative;
                margin-bottom: 15px;

                &:after {
                    content: "";
                    background: url(../images/bd_ttl.png) repeat;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            .ctn_art {
                margin: 0 auto 30px;

                p {
                    font-size: rem(12);
                    line-height: 1.8;

                    +p {
                        margin-top: 15px;
                    }
                }
            }

            dl {
                +dl {
                    margin-top: 40px;
                }

                dt {
                    background-color: #ff9c01;
                    color: #fff;
                    font-size: rem(14);
                    line-height: 1.5;
                    padding: 6px 10px;
                    margin-bottom: 15px;
                    font-weight: bold;
                }

                dd {
                    ul {
                        li {
                            padding-left: 15px;

                            &:not(:last-child) {
                                margin-bottom: 15px;
                            }

                            strong {
                                font-weight: bold;
                                display: block;
                                font-size: rem(14);
                                line-height: 1.5;
                                color: #ff9c01;
                                margin-bottom: 5px;
                                position: relative;

                                &:before {
                                    content: "・";
                                    font-weight: bold;
                                    display: block;
                                    font-size: rem(14);
                                    line-height: 1.5;
                                    color: #ff9c01;
                                    position: absolute;
                                    top: 0;
                                    left: -15px;
                                }
                            }

                            em {
                                font-size: rem(12);
                                line-height: 1.5;
                                font-style: normal;
                            }
                        }
                    }

                    p {
                        font-size: rem(12);
                        line-height: 1.8;

                        +p {
                            margin-top: 15px;
                        }
                        &.txt_i {
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            figure {
                img {
                    width: 100%;
                    height: auto;
                }

                figcaption {
                    font-size: rem(12);
                    line-height: 1.8;
                    font-weight: bold;
                    color: #c80000;
                    margin: 10px 0;
                }
            }

            .txt_bt {
                font-size: rem(14);
                line-height: 25px;
            }

            .b_flex {
                dl {
                    margin-top: 0;
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    dt {
                        margin-bottom: 10px;
                    }

                    dd {
                        span {
                            margin-bottom: 15px;
                            display: block;
                            line-height: 0;
                            text-align: center;

                            img {
                                width: auto;
                                max-width: 100%;
                                height: auto;
                            }
                        }
                    }
                }
            }

            .b_razu {
                figure {
                    text-align: center;
                    margin-top: 20px;
                    line-height: 0;

                    img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .b_razu_02 {
                figure {
                    text-align: center;
                    margin-bottom: 20px;
                    line-height: 0;

                    img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .b_art {
                margin-top: 40px;
            }

            .gr_item_bt {
                margin-top: 40px;

                .b_item {
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    .item_txt {
                        h4 {
                            font-size: rem(16);
                            line-height: 1.5;
                            color: #ed8c39;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }

                        p {
                            font-size: rem(12);
                            line-height: 1.8;
                        }
                    }

                    figure {
                        text-align: center;
                        margin-bottom: 20px;
                        line-height: 0;

                        img {
                            width: auto;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }

            .btn_ct {
                padding: 0 10px;

                span {
                    width: 100%;
                    font-size: rem(12);
                    line-height: 1.5;
                    font-weight: bold;
                    color: #fff;
                    background-color: #ff9c01;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    margin: 30px auto 0;
                    padding: 10px 10px;
                    text-align: center;
                }
            }
        }
    }
}